/*------------------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
}


/*------------------------------------------------------------------------------------------*/
/*<!-- ---------------------------------------Navbar----------------------------------- -->*/

@media (min-width: 992px){
  .navfix{
    height: 80px;
  }
  .logosvg{
    width: 130px;
    margin-top: 10px; 
    margin-left: 0px;
  }
  .navbar-brand{
    margin-left: -20px;
  }
}

@media (max-width: 768px){
.logosvg{
  width: 60px;
}
}
/*<!-- ---------------------------------------Navbar End----------------------------------- -->*/
/*<!-- ---------------------------------------Hero Section----------------------------------- -->*/

.hero-image-svg{
  width: 400px;

}
@media (max-width: 768px){
.hero-image-svg{
  width: 300px;
  margin-left: 10px;

}
}

/*<!-- ---------------------------------------Hero Section End----------------------------------- -->*/


